@model Edu.Abstraction.Models.DocumentType

@{
    ViewData["Title"] = (Model.DocumentTypeId > 0) ? $"Edit Document Type - {Model.DocumentTypeName}" : "Create New Document Type";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">@(Model.DocumentTypeId > 0 ? $"Edit Document Type - {Model.DocumentTypeName}" : "Create New Document Type")</h1>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-outline-primary float-sm-right" asp-area="" asp-controller="DocumentType" asp-action="Index" onclick="showLoading();">Back</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">

            <form id="documentTypeForm" enctype="multipart/form-data" class="form-horizontal form-bordered" asp-action="Manage" asp-controller="DocumentType">
                <section class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-body">
                                    <input asp-for="DocumentTypeId" type="hidden" id="DocumentTypeId">
                                    <div class="row">
                                        <div class="form-group col-8">
                                            <label for="DocumentTypeName">Document Type Name<span class="required">*</span></label>
                                            <input maxlength="100" asp-for="DocumentTypeName" type="text" id="DocumentTypeName" class="form-control">
                                            <span asp-validation-for="DocumentTypeName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a asp-controller="DocumentType" asp-action="Index" class="btn btn-secondary">Cancel</a>
                                <input type="submit" value="Save" class="btn btn-success float-right" onclick="return validateDocumentType();">
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/documenttype.js"></script>
}
