@model Edu.Abstraction.Models.Department

@{
    ViewData["Title"] = (Model.DepartmentId > 0) ? $"Edit Department - {Model.DepartmentName}" : "Create New Department";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">@(Model.DepartmentId > 0 ? $"Edit Department - {Model.DepartmentName}" : "Create New Department")</h1>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-outline-primary float-sm-right" asp-area="" asp-controller="Department" asp-action="Index" onclick="showLoading();">Back</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">

            <form id="departmentForm" enctype="multipart/form-data" class="form-horizontal form-bordered" asp-action="Manage" asp-controller="Department">
                <section class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-body">
                                    <input asp-for="DepartmentId" type="hidden" id="DepartmentId">
                                    <div class="row">
                                        <div class="form-group col-8">
                                            <label for="DepartmentName">Department Name<span class="required">*</span></label>
                                            <input maxlength="100" asp-for="DepartmentName" type="text" id="DepartmentName" class="form-control">
                                            <span asp-validation-for="DepartmentName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a asp-controller="Department" asp-action="Index" class="btn btn-secondary">Cancel</a>
                                <input type="submit" value="Save" class="btn btn-success float-right" onclick="return validateDepartment();">
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/department.js"></script>
}
