@inject Edu.Service.Interfaces.IUserProviderService userProviderService
@{
    ViewData["Title"] = "Admissions";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container">
            <div class="row g-3 intakeRow admissionContent">
                <div class="col-md-1">
                    <label class="heading">Scheme: </label>
                </div>
                <div class="col-md-3 selectschme headingDropdown schmeDropdown">
                    @Html.DropDownList("schemeId", (List<SelectListItem>)ViewBag.Schemes, (new { @class = "form-control select2 dropdownClass", onchange = "getSchemeIntakes(this);" }))
                </div>
                <div class="col-md-2" style="max-width: 130px !important;">
                    <label class="heading">Financial Year : </label>
                </div>
                <div class="col-md-4 selectschme headingDropdown financialDropdown">
                    @Html.DropDownList("intakeId", (List<SelectListItem>)ViewBag.Intakes, (new { @class = "form-control select2 dropdownClass", onchange = "getIntakeInstitutes(this);"  }))
                </div>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
    @*  <div id="uploadTitle" class="font-16 font-bold headingFont">
    </div>*@
    <div class="content grid-content mt-3 display-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 eligibilityTablepage pr-0">
                    <div>
                        <div class=" card-primary  eligibilitytablegts">
                            <div class="card-body  p-0">

                                <table id="admissionDatatable" class="eligibilitytable table datatable mt-0">
                                    <thead>
                                        <tr>
                                            <th class="no-sort">Sr No</th>
                                            <th class="th.sorting">Institute Name</th>
                                            <th>Status</th>
                                            <th>Admission Confirmation Deadline</th>
                                            <th class="no-sort">Action</th>
                                        </tr>
                                    </thead>
                                   
                                </table>
                               <div class="row">
                                   <label style="font-weight: 600; margin-left: 10px">Note: Once you confirm an institute, you will not be able to change later. </label>
                               </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="content legal-content  display-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 eligibilityTablepage pr-0">
                    <div>
                        <div class=" card-primary  eligibilitytablegts">
                            <div class="card-body  p-0">
                                <div class="legal-header accpetadm p-3">

                                    <p class="mb-0">
                                        Congratulation @userProviderService.UserClaim.Username!
                                        You have accepted the admission for
                                        <span id="schemeSelected"></span>.
                                        <br />
                                        Please sign the document(s) to confirm admission.
                                    </p>

                                </div>
                                <div class="legal-intruction mt-4">
                                    <p>  Please follow the below instruction: </p>
                                    <ol class="pl-3">
                                        <li>Download the required documents</li>
                                        <li>Take a print</li>
                                        <li>Sign it</li>
                                        <li>Upload documents in pdf format</li>
                                        <li>Submit</li>
                                    </ol>
                                </div>
                                <div class="agreement-div p-2 mt-4 display-none" id="serviceAgreement">

                                    <div class="row">
                                        <div class="col-lg-6">
                                            Service Agreement
                                        </div>
                                        <div class="col-lg-3  downloadAddm">
                                            <a target="_blank" href="~/Samples/ServiceAgreement.pdf" class="dwnloadTemplt">
                                                <img src="~/assets/img/download_invoice.svg" height="12px" width="9px" class="mb-1" />   Download Service Agreement
                                            </a>
                                        </div>
                                        <div class="col-lg-3 uploadfileadm row align-items-end ">
                                            <a id="file-input-label" class="font-t-blue font-bold" href="javascript:void(0)">
                                                <img src="~/assets/img/upload2.svg" style="vertical-align: inherit; height:12px ;width:9px" /> Upload Signed File
                                            </a>
                                            <input type="file" id="uploadServiceAgreement" style=" max-width: 45%; margin-left: 9px; font-size:12px " />
                                            <span id="uploadServiceAgreementError" class="display-none text-danger-adm">
                                                Please upload Service Agreement
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="agreement-div p-2 mt-3 display-none" id="suretyBond">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            Surety Bond
                                        </div>
                                        <div class="col-lg-3  downloadAddm">
                                            <a target="_blank" href="~/Samples/SuretyBond.pdf" class="dwnloadTemplt">
                                                <img src="~/assets/img/download_invoice.svg" height="12px" width="9px" class="mb-1" />   Download Surety Bond
                                            </a>
                                        </div>
                                        <div class="col-lg-3 uploadfileadm row align-items-end ">
                                            <a id="file-input-bond" class="font-t-blue font-bold" href="javascript:void(0)">
                                                <img src="~/assets/img/upload2.svg" style="vertical-align: inherit; height:12px ;width:9px" /> Upload Signed File
                                            </a>
                                            <input type="file" id="uploadSuretyBond" style=" max-width: 45%; margin-left: 9px  ; font-size:12px" />
                                            <span id="uploadSuretyBondError" class="display-none text-danger-adm">
                                                Please upload Surety Bond
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="agreement-div p-2 mt-3">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Policy
                                        </div>
                                        <div class="col-lg-12 mt-1 d-flex flex-column ">
                                            <label>
                                                <input type="checkbox" id="chkPolicy" /> Please accept the Policy.
                                                <br />
                                            </label>
                                            <span id="uploadPolicyError" class="display-none text-danger-adm">
                                                Please accept the policy
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer pr-0 mt-3">
                                <input type="button" value="Submit" class="btn btn-primary darkbtn  float-right mr-0" onclick="return saveLegalDocument();">
                                <a href="javascript:none(0)" onclick="cancelAdmission()" class="btn btn-outline-primary float-right">Cancel</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade approverNomi" id="approvalModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered  justify-content-center " style="width: 406px !important;">
        <div class="modal-content">
            <div class="modal-header justify-content-center titleaprrover pt-4 pb-4">
                <h5 class="modal-title modalHeading">Are you sure you want to submit your confirmation?</h5>
            </div>
            <div class="modal-body text-center p-0">
                <div>
                    <label>
                        <input type="checkbox" id="chkTerms" class="confirmCheckbox" /> Once you confirm an institute, you will not be able to change later.
                    </label>
                </div>
                <div class="pb-1">
                    <button type="button" class="btn darkbtn" onclick="updateAdmissionUser(true, 'approvalModal')">YES, SUBMIT MY CONFIRMATION</button>
                </div>
                <div>
                    <a href="javascript:void(0)" onclick="hideModel('approvalModal')" style="padding: 7px 18px;" class="btn btn-outline-primary">NO, I DO NOT WANT TO SUBMIT</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade  rejectAdd" id="rejectModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered  justify-content-center " style="width: 406px !important;">
        <div class="modal-content">
            <div class="modal-header titleaprrover  justify-content-center">
                <h5 class="modal-title">Are you sure you want to reject admission?</h5>
            </div>
            <div class="modal-body text-center">
                <div>
                    <div class="row">
                        <div class="form-group col-12 d-flex justify-content-start mb-0">
                            <label for="remarkReject">Remarks <span class="required">*</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea type="text" id="remarkReject" class="form-control" placeholder="Please enter remarks"></textarea>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button type="button" class="btn btn-danger" onclick="updateAdmissionUser(false, 'rejectModal')">YES, REJECT ADMISSION</button>
                </div>
                <div>
                    <a href="javascript:void(0)" onclick="hideModel('rejectModal')" class="btn btn-outline-primary">NO, I DON'T WANT TO REJECT</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/empadmission.js"></script>
}