@model Edu.Abstraction.Models.IntakeTemplate

@{
    ViewData["Title"] = "Edit Template";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Edit Template</h1>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-outline-primary float-sm-right" asp-area="" asp-controller="Template" asp-action="Index" onclick="showLoading();">Back</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">

            <form id="templateForm" enctype="multipart/form-data" class="form-horizontal form-bordered" asp-action="Manage" asp-controller="Template">
                <section class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-body">
                                    <input asp-for="IntakeTemplateId" type="hidden" id="IntakeTemplateId">
                                    <input asp-for="TemplateId" type="hidden" id="TemplateId">
                                    <div class="row">
                                        <div class="form-group col-12">
                                            <label for="VerticalName">Template Subject<span class="required">*</span> <span class="label-info">(Please add #InstituteName# to replace Institute Name)</span></label>
                                            <input maxlength="100" asp-for="TemplateSubject" type="text" id="VerticalName" class="form-control">
                                            <span asp-validation-for="TemplateSubject" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-12">
                                            <label for="TemplateContent">Template Content<span class="required">*</span> <span class="label-info">(Please add #InstituteName# to replace Institute Name)</span></label>
                                            <textarea asp-for="TemplateContent" type="text" id="TemplateContent" class="form-control summernote"></textarea>
                                            <span asp-validation-for="TemplateContent" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a asp-controller="Template" asp-action="Index" class="btn btn-secondary">Cancel</a>
                                <input type="submit" value="Save" class="btn btn-success float-right" onclick="return validateTemplate();">
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/template.js"></script>
}
